@model Glostest.ViewModels.SynonymsView

@{
    ViewBag.Title = "Ordlista";
}

<h2>Ordlista</h2>
<h3>Grupp: @Model.WordGroupName</h3>
<div class="container">

    <div class="row">
        @for (int i = 0; i < Model.NumberOfLanguages; i++)
        {
            <div>Språk @(i+1)</div>

        }
        <div colspan="3">Lägg till nytt ord</div>
    </div>

    @foreach (var sortedSynonym in Model.SortedSynonyms)
    {
        <div class="row">

            @foreach (var languageList in sortedSynonym.SortedWordList)
            {
                <div class="col-sm-6" >
                    @Html.DisplayFor(modelItem => languageList.Value.Language.Name)
                </div>
                <div>
                    @foreach (var word in languageList.Value.Words)
                    {
                        @Html.DisplayFor(modelItem => word.Text)
                        @Html.Raw("&nbsp;")
                        @Html.ActionLink(" ", "Delete", new { wordId = word.Id, synonymId = sortedSynonym.Id }, new { @class = "glyphicon glyphicon-remove" })
                        @Html.Raw("&nbsp;")
                    }
                </div>
            }
            <!--Extra columner om inte alla språk finns -->
            @for (int i = sortedSynonym.SortedWordList.Count; i < Model.NumberOfLanguages; i++)
            {
                <div />
            }

            @using (Html.BeginForm("NewWord", "Synonyms"))
            {
                <div>
                    @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div>
                    @Html.Hidden("SynonymId", sortedSynonym.Id)
                    @Html.EditorFor(wp => Model.NewWordText)
                </div>
                <div>
                    <input type="submit" value="Lägg till" class="btn btn-default" />
                </div>
            }

        </div>

    }
    <!--Sista raden där man lägger till ett helt nytt ord -->
    <div class="row">
        @using (Html.BeginForm("NewWord", "Synonyms"))
        {
            <div>
                @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div>
                @Html.Hidden("SynonymId", 0)
                @Html.EditorFor(wp => Model.NewWordText)
            </div>
            <div>
                <input type="submit" value="Lägg till" class="btn btn-default" />
            </div>
            for (int i = 0; i < Model.NumberOfLanguages; i++)
            {
                <div></div>
                <div></div>
            }
        }
    </div>
</div>
    @Model.SortedSynonyms.Count() ord
