@model IEnumerable<Glostest.WordGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Övningar</h2>

<p>
    @Html.ActionLink("Lägg till", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Beskrivning")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Description , "Index", "Synonyms", new { wordGroupId = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Ändra övningens namn", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Radera övning", "Delete", new { id = item.Id })

        </td>
    </tr>
}

</table>
